@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1C1C1E;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pretendard);
  padding-bottom: 120px;
  padding-left: 24px;
  padding-right: 24px;
  min-height: calc(100vh + 80px);
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 엣지 */
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE 및 Edge */
  scrollbar-width: none;  /* Firefox */
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
